{% extends "dashboard.html" %}

{% block title %} Expenses {% endblock %}

{% block content %}
<div class="row g-3 pt-3">
    <div class="col-md-4">
        <input type="text" class="form-control" id="truckSearch" placeholder="Truck No...">
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" id="dateSearch" placeholder="Date...">
    </div>
    <div class="col-md-4">
        <span id="addExpense" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#expenseregistration" style="width: 100%;">Add Expense <i class="bi bi-plus"></i></span>
    </div>
    <!-- modal for registering new expense  -->
    <div class="modal fade" id="expenseregistration" tabindex="-1"  aria-labelledby="expenseRegistrationlabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen-md-down modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="expenseRegistrationlabel">Enter New Expense</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <!-- expense registration form -->
                    <form id="myForm" class="row text-start g-3" autocomplete="on">
                        <div class="col-12">
                            <label for="date" class="form-label fw-medium">Date of Expense</label>
                            <input type="date" name="date" class="form-control" id="date">
                        </div>
                        <div class="col-12">
                            <label for="amount" class="form-label fw-medium">Expense Amount</label>
                            <input type="number" name="amount" class="form-control" id="amount">
                        </div>
                        <div class="col-12">
                            <label for="plate_number" class="form-label fw-medium">Plate Number <span class="text-danger fw-bold">*</span></label>
                            <select class="form-select" id="plate_number" name="plate_number" required>
                                <option selected value="">Select Plate Number...</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label for="truck_id" class="form-label fw-medium">Truck Id</label>
                            <input type="text" name="truck_id" class="form-control" id="truck_id" readonly required>
                        </div>
                        <div class="col-12">
                            <label for="driver_name" class="form-label fw-medium">Driver Name</label>
                            <input type="text" name="driver_name" class="form-control" id="driver_name" readonly required>
                        </div>
                        <div class="col-12">
                            <label for="description" class="form-label fw-medium">Description</label>
                            <textarea class="form-control" name="description" id="description" style="height: 100px"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="submitButton" class="btn btn-primary rounded-pill" onclick="registerExpense()">Submit</button>
                <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date of Expense</th>
                    <th scope="col">Plate Number</th>
                    <th scope="col">Driver Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Expense Amount</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  {% for expense in expenses %}
                  <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ expense.date if expense.date is not none else 'n/a'  }}</td>
                    <td>{{ expense.truck.plate_number if expense.truck.plate_number is not none else 'n/a' }}</td>
                    <td>{{ expense.driver_name if expense.driver_name is not none else 'n/a' }}</td>
                    <td>{{ expense.description if expense.description is not none else 'n/a' }}</td>
                    <td>{{ "{:,.0f}".format(expense.amount) if expense.amount is not none else 'n/a' }}</td>
                    <td><span class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#expenseUpdate{{ expense.id }}">update</span></td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
            {% for expense in expenses %}
            <!-- modal for expense update -->
            <div class="modal fade" id="expenseUpdate{{ expense.id }}" tabindex="-1"  aria-labelledby="expenseUpdatelabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen-md-down modal-lg">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="expenseUpdatelabel">update expense info</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <!-- expense update form -->
                            <form class="row text-start g-3">
                                <div class="col-12">
                                    <label for="id{{ expense.id }}" class="form-label fw-medium">expense id</label>
                                    <input type="text" class="form-control" id="id{{ expense.id }}" name="id" value="{{ expense.id }}" readonly>
                                </div>
                                <div class="col-12">
                                    <label for="date{{ expense.id }}" class="form-label fw-medium">Date of Expense</label>
                                    <input type="date" name="date" class="form-control" id="date{{ expense.id }}">
                                </div>
                                <div class="col-12">
                                    <label for="amount{{ expense.id }}" class="form-label fw-medium">Expense Amount</label>
                                    <input type="number" name="amount" class="form-control" id="amount{{ expense.id }}">
                                </div>
                                <div class="col-12">
                                    <label for="plate_number{{ expense.id }}" class="form-label fw-medium">Plate Number</label>
                                    <select class="form-select" id="plate_number{{ expense.id }}" name="plate_number">
                                        <option selected value="">Select Plate Number...</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <label for="truck_id{{ expense.id }}" class="form-label fw-medium">Truck Id</label>
                                    <input type="text" name="truck_id" class="form-control" id="truck_id{{ expense.id }}" readonly>
                                </div>
                                <div class="col-12">
                                    <label for="driver_name{{ expense.id }}" class="form-label fw-medium">Driver Name</label>
                                    <input type="text" name="driver_name" class="form-control" id="driver_name{{ expense.id }}" readonly>
                                </div>
                                <div class="col-12">
                                    <label for="description{{ expense.id }}" class="form-label fw-medium">Description</label>
                                    <textarea class="form-control" name="description" id="description{{ expense.id }}" style="height: 100px"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary rounded-pill" onclick="updateExpense()">Submit</button>
                        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Close</button>
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
        
{% block scripts %}
<script>
    const modals = document.querySelectorAll('.modal.fade');
    const myForm = document.getElementById('myForm');
    const truckSearch = document.getElementById('truckSearch');
    const dateSearch = document.getElementById('dateSearch');
    const submitButton = document.getElementById('submitButton');
    let inputs = myForm.querySelectorAll('input[required]');
    const select = myForm.querySelector('select');
    let selectInput = Array.from(inputs).concat(select);


    submitButton.disabled = true;


    document.addEventListener('DOMContentLoaded', ()=> {
        searchFilter();
    });

    async function registerExpense() {
        document.getElementById('opaque').classList.remove('d-none');
        const inputs = myForm.querySelectorAll('input');
        const textArea = myForm.querySelectorAll('textarea');

        const textAreaInputs = Array.from(inputs).concat(...textArea);
        
        let data = {};
        textAreaInputs.forEach(input => {
            data[input.name] = input.value? input.value.toLocaleLowerCase().trim() : null;
        });
        
        const url = "/expense-registration";

        try {
            const response = await fetch(url, {
                method: 'POST',
                headers : {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (!response.ok) {
                throw new Error('unable to register expense.');
            }

            const result = await response.json();
            window.location.reload();

        } catch (error) {
            document.getElementById('opaque').classList.add('d-none');
            console.log(error);
        }
    }

    async function updateExpense() {
        document.getElementById('opaque').classList.remove('d-none');

        const modal = document.querySelector('.modal.fade.show');
        const inputs = modal.querySelectorAll('input');
        const textArea = modal.querySelectorAll('textarea');

        const textAreaInputs = Array.from(inputs).concat(...textArea);

        let data = {};

        textAreaInputs.forEach(input => {
            data[input.name] = input.value ? input.value.toLocaleLowerCase().trim() : null
        });

        const url = "/expense-update";

        try {
            const response = await fetch(url, {
                method: 'POST',
                headers : {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (!response.ok) {
                throw new Error('unable to register expense.');
            }

            const result = await response.json();
            window.location.reload();

        } catch (error) {
            document.getElementById('opaque').classList.add('d-none');
            console.log(error);
        }
    }


    function searchFilter() {
        truckSearch.addEventListener('input', ()=>{
            let truck = truckSearch.value.toLocaleLowerCase().trim();
            let date = dateSearch.value.toLocaleLowerCase().trim();
            activateSearch(date, truck);
        });

        dateSearch.addEventListener('input', ()=>{
            let truck = truckSearch.value.toLocaleLowerCase().trim();
            let date = dateSearch.value.toLocaleLowerCase().trim();
            activateSearch(date, truck);
        });
    }

    function activateSearch(date, truck) {
        const rows = document.querySelectorAll('tbody tr');

        rows.forEach(row => {
            let rowPlateNumber = Array.from(row.children)[2].innerHTML.toLocaleLowerCase().trim();
            let rowDate = Array.from(row.children)[1].innerHTML.toLocaleLowerCase().trim();

            if (truck !== '' && date === '') {
                if (rowPlateNumber.includes(truck)) {
                    row.style.display = '';
                }else {
                    row.style.display = 'none';
                }  
            }else if (truck === '' && date !== '') {
                if (rowDate.includes(date)) {
                    row.style.display = '';
                }else {
                    row.style.display = 'none';
                }  
            }else if (truck !== '' && date !== '') {
                if (rowPlateNumber.includes(truck) && rowDate.includes(date)) {
                    row.style.display = '';
                }else {
                    row.style.display = 'none';
                }  
            }else if (truck === '' && date === '') {
                row.style.display = '';
            }
        });
    }



    modals.forEach(modal => {
        modal.addEventListener('shown.bs.modal', function() {
            const date = modal.querySelector('input[name="date"]');
            date.max = new Date().toISOString().split('T')[0];

            getTruckList(modal);
            getTruckInfo(modal);
            disableFunction();
        })
    });

    function disableState() {
        let filterInput = selectInput.map(input => input.value).filter(value => value !== '');
        submitButton.disabled = (filterInput.length !== selectInput.length);
    }

    function disableFunction() {
        selectInput.forEach(input => {
            input.addEventListener('input',disableState);
        });
    }

    async function getTruckList(modal) {
        const truck = modal.querySelector('select[name="plate_number"]');
        const url = "/plate-number-list";

        const response = await fetch(url);

        try {
            if (!response.ok) {
                throw new Error("Failed to load truck list.");
            }
            const result = await response.json();
            plate_numbers = result.plate_numbers;
            
            truck.innerHTML = '<option selected value="">Select Plate Number...</option>';

            Array.from(plate_numbers).forEach(plate_number => {
                const option = document.createElement("option");
                option.value = plate_number;
                option.textContent = plate_number;
                truck.appendChild(option);
            });
            disableState();

        } catch (error) {
            console.error(error);
        }
    }

    function getTruckInfo(modal) {
        const truckId = modal.querySelector('input[name="truck_id"]');
        const driverName = modal.querySelector('input[name="driver_name"]');
        const truck = modal.querySelector('select[name="plate_number"]');

        truck.addEventListener('input', async ()=>{
            truckId.value = '';
            driverName.value = '';
            const plate_number = truck.value;

            if (plate_number === '') {
                truckId.value = '';
                driverName.value = '';
                return;
            }

            const url = `/driver-name-and-truck-id?plate_number=${encodeURIComponent(plate_number)}`;

            const response = await fetch(url);

            try {
                if (!response.ok) {
                    throw new Error("Failed to load truck info.");
                }
                const result = await response.json();
                truckId.value = result.truck_id;
                driverName.value = result.driver_name; 
                
                disableState();

            } catch (error) {
                console.error(error);
            }

        });
    }
</script>
{% endblock %}