{% extends "dashboard.html" %}

{% block title %} Expense Report {% endblock %}

{% block content %}
<div class="container-fluid position-relative">
    <div class="row g-4 dashboardRow">
        <div class="col-12 col-md-7">
            <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%;">
                <button type="button" id="pdf" class="btn btn-secondary">PDF</button>
                <button type="button" id="excel" class="btn btn-success">EXCEL</button>
                <button type="button" id="filter" class="btn btn-info"><i class="bi bi-filter fs-4"></i></button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row mb-3">
                <label for="startDate" class="col-sm-3 col-form-label" style="font-weight: 600;">Start Date</label>
                <div class="col-sm-9 d-flex align-items-center">
                  <input type="date" class="form-control" id="startDate">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row mb-3">
                <label for="endDate" class="col-sm-3 col-form-label" style="font-weight: 600;">End Date</label>
                <div class="col-sm-9 d-flex align-items-center">
                  <input type="date" class="form-control" id="endDate">
                </div>
            </div>
        </div>
        <div class="col-12 d-flex flex-row">
            <span class="me-2 text-success fw-semibold d-flex align-items-center">Expense Amount</span><div id="expense_amount" class="text-success fw-bold d-flex align-items-center" style="width: fit-content;">0</div>
        </div>
        <div class="col-12 col-md-6">
            <input style="width: 100%;" id="dateSearch" type="text" class="form-control" placeholder="Date" aria-label="Date">
        </div>
        <div class="col-12 col-md-6">
            <input style="width: 100%;" id="truckSearch" type="text" class="form-control" placeholder="Truck No" aria-label="Truck No">
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-hover align-middle">
                    <thead class="table-dark">
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date of Expense</th>
                        <th scope="col">Plate Number</th>
                        <th scope="col">Driver Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Expense Amount</th>                        
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for expense in expenses %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ expense.date if expense.date is not none else 'n/a'  }}</td>
                            <td>{{ expense.truck.plate_number if expense.truck.plate_number is not none else 'n/a' }}</td>
                            <td>{{ expense.driver_name if expense.driver_name is not none else 'n/a' }}</td>
                            <td>{{ expense.description if expense.description is not none else 'n/a' }}</td>
                            <td>{{ "{:,.0f}".format(expense.amount) if expense.amount is not none else 'n/a' }}</td>                                  
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.29/jspdf.plugin.autotable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script>
    const startDate = document.getElementById('startDate');
    const endDate = document.getElementById('endDate');
    const expense = document.getElementById('expense_amount');
    const truckSearch = document.getElementById('truckSearch');
    const dateSearch = document.getElementById('dateSearch');
    const filter = document.getElementById('filter');

    function exportToExcel() {
        document.getElementById('excel').addEventListener('click', () => {
            const headRow = document.querySelector('thead tr');
            const bodyRows = document.querySelectorAll('tbody tr');

            let columns = Array.from(headRow.children).map(th => th.innerText.trim());
            let data = [];

            let trip_amount = 0, diesel_amount = 0, dispatch_amount = 0, bonus_amount = 0;

            bodyRows.forEach(row => {
                if (row.style.display === 'none') return;

                const rowArray = Array.from(row.children);

                data.push(rowArray.map(td => td.innerText.trim()));
            });

            const worksheet = XLSX.utils.aoa_to_sheet([columns, ...data]);
            const workbook = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(workbook, worksheet);

            XLSX.writeFile(workbook, "expenses.xlsx");
        });
    }



    function exportToPDF() {
        document.getElementById('pdf').addEventListener('click', () => {
            const { jsPDF } = window.jspdf;
            const pdf = new jsPDF({ orientation: 'landscape' });
            const headRow = document.querySelector('thead tr');
            const bodyRows = document.querySelectorAll('tbody tr');

            let columns = Array.from(headRow.children).map(th => th.innerHTML.trim());
            let data = [], date = [];

            let expense_amount = 0;

            bodyRows.forEach(row => {
                if (row.style.display === 'none') return; // Skip hidden rows

                const rowArray = Array.from(row.children);
                expense_amount += parseFloat(rowArray[5].innerHTML.trim().replace(/,/g, ""),0) || 0;
                date.push(rowArray[1].innerHTML.trim()) || 'n/a';
            });

            // Title Styling
            pdf.setFontSize(22);
            pdf.setTextColor(40, 40, 200);
            pdf.setFont("helvetica", "bold");
            pdf.text('Expenses Report Summary', 140, 30, { align: 'center' });

            // Line separator under title
            pdf.setDrawColor(0);
            pdf.line(30, 35, 270, 35); // horizontal line

            // Summary Styling
            pdf.setFontSize(12);
            pdf.setTextColor(50, 50, 50);
            pdf.setFont("helvetica", "bold");

            const formatCurrency = amount => amount.toLocaleString("en-US", {
                minimumFractionDigits: 0,
                maximumFractionDigits: 2
            });

            const summary = [
                `Statement Cycle: ${date[date.length-1]} to ${date[0]}`,
                `Expenses Amount: NGN ${formatCurrency(expense_amount)}`
            ];

            summary.forEach((text,index) => {
                pdf.text(text, 30, 50 + 10 * index);
            });

            // Table Data
            bodyRows.forEach(row => {
                if (row.style.display === 'none') return;
                let rowValue = Array.from(row.children).map(td => td.innerHTML.trim());
                data.push(rowValue);
            });

            // Table Styling
            pdf.autoTable({
                head: [columns],
                body: data,
                startY: 70,
                headStyles: {
                    fillColor: [40, 40, 200],
                    textColor: 255,
                    fontStyle: 'bold'
                },
                styles: {
                    fontSize: 10,
                    cellPadding: 3
                }
            });

            pdf.save('expenses.pdf');
        });
    }


    function enableFilterButton() {
        if (startDate.value === '' || endDate.value === '') {
            filter.disabled = true;
        } else {
            filter.disabled = false;  
        }
    }

    filter.addEventListener('click', async ()=>{
        const start_date = startDate.value.trim();
        const end_date = endDate.value.trim();

        document.getElementById('opaque').classList.remove('d-none');

        const url = `/expense-filter?start_date=${encodeURIComponent(start_date)}&end_date=${encodeURIComponent(end_date)}`;

        try {
            const response = await fetch(url);
            if (!response.ok) {
                throw new Error("unable to load trip records");
            }

            const result = await response.json();
            
            const bodyRecordArray = result.data;
            createTableBodyRecord(bodyRecordArray);
            document.getElementById('opaque').classList.add('d-none');

        } catch (error) {
            document.getElementById('opaque').classList.add('d-none');
            alert(error);
        }               

    });

    function createTableBodyRecord(bodyRecordArray) {
        const tableBody = document.querySelector('tbody');
        tableBody.innerHTML = '';            

        let html = '';
        Array.from(bodyRecordArray).forEach((arr, index)=>{
            html += `
                <tr>
                    <th scope="row">${index + 1}</th>
                    <td>${arr.date ?? "n/a"}</td>
                    <td>${arr.plate_number ?? "n/a"}</td>
                    <td>${arr.driver_name ?? "n/a"}</td>
                    <td>${arr.description ?? "n/a"}</td>
                    <td>${arr.amount.toLocaleString("en-US", {minimumFractionDigits: 0, maximumFractionDigits: 2}) ?? "n/a"}</td>
                </tr>
            `;
        });
        tableBody.innerHTML = html;
        summation();
    }

    function searchFilter() {
        truckSearch.addEventListener('input', ()=>{
            let truck = truckSearch.value.toLocaleLowerCase().trim();
            let date = dateSearch.value.toLocaleLowerCase().trim();
            activateSearch(date, truck);
        });

        dateSearch.addEventListener('input', ()=>{
            let truck = truckSearch.value.toLocaleLowerCase().trim();
            let date = dateSearch.value.toLocaleLowerCase().trim();
            activateSearch(date, truck);
        });
    }

    function activateSearch(date, truck) {
        const rows = document.querySelectorAll('tbody tr');

        rows.forEach(row => {
            let rowPlateNumber = Array.from(row.children)[2].innerHTML.toLocaleLowerCase().trim();
            let rowDate = Array.from(row.children)[1].innerHTML.toLocaleLowerCase().trim();

            if (truck !== '' && date === '') {
                if (rowPlateNumber.includes(truck)) {
                    row.style.display = '';
                }else {
                    row.style.display = 'none';
                }  
            }else if (truck === '' && date !== '') {
                if (rowDate.includes(date)) {
                    row.style.display = '';
                }else {
                    row.style.display = 'none';
                }  
            }else if (truck !== '' && date !== '') {
                if (rowPlateNumber.includes(truck) && rowDate.includes(date)) {
                    row.style.display = '';
                }else {
                    row.style.display = 'none';
                }  
            }else if (truck === '' && date === '') {
                row.style.display = '';
            }
        });
        summation();
    }

    function summation() {
        const bodyRows = document.querySelectorAll('tbody tr');
        let expense_amount = 0;

        bodyRows.forEach(row => {
            if (row.style.display === 'none') return; // Skip hidden rows

            const rowArray = Array.from(row.children);
            expense_amount += parseFloat(rowArray[5].innerHTML.trim().replace(/,/g, ""),0) || 0;
        });

        expense.innerHTML = expense_amount.toLocaleString("en-US", {minimumFractionDigits: 0, maximumFractionDigits: 2});
    }

    function setDateLimit() {
        startDate.max = new Date().toISOString().split('T')[0];
        endDate.max = new Date().toISOString().split("T")[0];

        startDate.addEventListener('input', ()=>{
            endDate.min = startDate.value;
            enableFilterButton();
        });
        endDate.addEventListener('input', ()=>{
            startDate.max = endDate.value || new Date().toISOString().split("T")[0];
            let date = new Date(endDate.value);
            date.setDate(date.getDate() - 365);
            startDate.min = !isNaN(date)? date.toISOString().split("T")[0] : '';
            enableFilterButton();
        });
    }

    document.addEventListener('DOMContentLoaded', () => {
        setDateLimit();
        summation();
        searchFilter();
        enableFilterButton();
        exportToPDF();
        exportToExcel()
    });
</script>
{% endblock %}