<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row g-5 mt-3">
            <div class="col-12 fs-1 text-center text-success" style="font-family: sans-serif; font-weight: 900;">
                <span>{{ plate_number }} expense report</span>
            </div>
            <div class="col-12 col-md-6">
                <div class="row g-4">
                    <div class="col-12 d-flex flex-column flex-md-row align-items-start">
                        <a href="/welcome" class="btn btn-outline-success mb-2 mb-md-0 me-0 me-md-2" style="width: 150px;">Back</a>
                        <a id="pdfButton" class="btn btn-outline-success mb-2 mb-md-0 me-0 me-md-2" style="width: 150px;">PDF</a>
                        <span class="text-danger fs-5 fw-bold" style="display: inline-block; width: auto;" data-bs-toggle="popover" role="button" data-bs-trigger="focus" data-bs-placement="right" tabindex="0" title="Tip for Printing Without Date Filters" data-bs-content="To print using the search bar option without date filters, leave both the start date and end date fields empty.">
                            !
                        </span>
                    </div>
                    <div class="col-12">
                        <div class="row text-success" style="font-family: sans-serif; font-weight: 700;">
                            <div class="col-12 col-md-auto">
                                <label for="startDate" class="col-form-label">Start Date</label>
                            </div>
                            <div class="col-12 col-md-auto">
                                <input type="date" id="startDate" class="form-control">
                            </div>
                            <div class="col-12 col-md-auto">
                                <label for="endDate" class="col-form-label">End Date</label>
                            </div>
                            <div class="col-12 col-md-auto">
                                <input type="date" id="endDate" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row g-2">
                            <div class="col-12 col-md-6">
                                <input type="text" id="searchInput" class="form-control border border-1 border-success" placeholder="Search" aria-label="Search">
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="text" id="searchInput2" class="form-control border border-1 border-success" placeholder="Search" aria-label="Search">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="row g-3 text-success" style="font-family: sans-serif; font-weight: 700;">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-8 col-md-4">
                                <span>Total Expenses Amount</span>
                            </div>
                            <div id="totalExpenses" class="col-auto border rounded border-success border-2">0</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-hover align-middle">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Date of Expense</th>
                                <th scope="col">Driver Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Expense Amount</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for expense in driver_expenses %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ expense.date }}</td>
                                <td>{{ expense.driver_name }}</td>
                                <td>{{ expense.description }}</td>
                                <td>{{ expense.amount }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>    
        </div>
        <div class="d-none" id="plateNumber">{{ plate_number }}</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.29/jspdf.plugin.autotable.min.js"></script>
    <script>
        const searchInput = document.getElementById('searchInput');
        const searchInput2 = document.getElementById('searchInput2');
        const bodyRows = document.querySelectorAll('tbody tr');
        const headRow = document.querySelector('thead tr');
        const totalExpenses = document.getElementById('totalExpenses');
        const plateNumber = document.getElementById('plateNumber');


       
        const popoverTriggerEl = document.querySelector('[data-bs-toggle="popover"]');
        const popover = new bootstrap.Popover(popoverTriggerEl);

        const pdfButton = document.getElementById('pdfButton');

        const startDate = document.getElementById('startDate');
        const endDate = document.getElementById('endDate');


        searchInput.addEventListener('input', function () {
            
            let value1 = searchInput.value.toLowerCase();
            let value2 = searchInput2.value.toLowerCase();
            activateSearch(value1,value2)           
        });
        searchInput2.addEventListener('input', function () {
            
            let value1 = searchInput.value.toLowerCase();
            let value2 = searchInput2.value.toLowerCase();
            activateSearch(value1,value2)           
        });


        function activateSearch(value1, value2) { //value1 and value2 are arrays is an array
            let expense = 0;

            bodyRows.forEach(function(row) {

                const rowContent = Array.from(row.children).map(td => td.innerHTML.toLocaleLowerCase()).join(' ');

                if (value1 ==='' && value2 !== '') {
                   if (rowContent.includes(value2)) {
                        row.style.display = '';

                        const rowArray = Array.from(row.children);
                        expense += parseInt(rowArray[4].innerHTML,10) || 0;
                   } else {
                        row.style.display = 'none';
                   } 
                } else if (value1 !=='' && value2 === '') {
                    if (rowContent.includes(value1)) {
                        row.style.display = '';

                        const rowArray = Array.from(row.children);
                        expense += parseInt(rowArray[4].innerHTML,10) || 0;
                   } else {
                        row.style.display = 'none';
                   } 
                    
                } else if (value1 !=='' && value2 !== '') {
                    if (rowContent.includes(value1) && rowContent.includes(value2)) {
                        row.style.display = '';

                        const rowArray = Array.from(row.children);
                        expense += parseInt(rowArray[4].innerHTML,10) || 0;
                   } else {
                        row.style.display = 'none';
                   } 
                } else if (value1 ==='' && value2 === '') {
                    row.style.display = '';
                    
                    const rowArray = Array.from(row.children);
                    expense += parseInt(rowArray[4].innerHTML,10) || 0;
                }
            });
            totalExpenses.innerHTML = expense;
        }

        document.addEventListener('DOMContentLoaded', function() {
            let expense = 0;

            bodyRows.forEach(row => {

                const rowArray = Array.from(row.children);

                expense += parseInt(rowArray[4].innerHTML,10) || 0;

            });

            totalExpenses.innerHTML = expense;
        });

        pdfButton.addEventListener('click', function() {
            const { jsPDF } = window.jspdf;
            const pdf = new jsPDF({ orientation: 'landscape' });

            let columns = Array.from(headRow.children).map(th => th.innerHTML);
            let data = [];

            if (startDate.value === '' && endDate.value !== '') {

                alert('ensure that both date fields are either filled or empty');
                startDate.focus();
                return;

            }else if (startDate.value !== '' && endDate.value === '') {

                alert('ensure that both date fields are either filled or empty');
                endDate.focus();
                return;

            } else if (startDate.value !== '' && endDate.value !== '') {
                const dateFilteredBodyRows = Array.from(bodyRows).filter(row => {
                    let expenseDate = new Date(Array.from(row.children)[1].innerHTML.trim());
                    return expenseDate >= new Date(startDate.value) && expenseDate <= new Date(endDate.value);
                });
                let expense = 0;
                dateFilteredBodyRows.forEach(row => {
                    const rowArray = Array.from(row.children);

                    expense += parseInt(rowArray[4].innerHTML,10) || 0;
                });
                pdf.text(`Total Expenses: ${expense}`, 10, 30);

                Array.from(dateFilteredBodyRows).forEach(row => {
                    let rowValue = Array.from(row.children).map(td => td.innerHTML);
                    data.push(rowValue);
                });
                startDate.value = '';
                endDate.value = '';

            } else if (startDate.value === '' && endDate.value === '') {
        
                pdf.text(`Total Expenses: ${totalExpenses.innerHTML}`, 10, 30);

                const filteredBodyRow = Array.from(bodyRows).filter(row => {
                    return window.getComputedStyle(row).display !== 'none';
                });

                Array.from(filteredBodyRow).forEach(row => {
                let rowValue = Array.from(row.children).map(td => td.innerHTML);
                data.push(rowValue);
                });                
            }

            pdf.text('total expenses report', 105, 10);
            
            pdf.autoTable({
                head: [columns],
                body: data,
                startY: 50,
            });
            pdf.save(`${plateNumber.innerHTML} expense.pdf`);

        });
        

    </script>
</body>
</html>